.text{
    margin: 0;
    padding: 0;
    letter-spacing:0.5px;
    &--center{
        text-align: center;
    }
    &--lineheight{
        line-height: 27px;
    }
    &--title {
        font-size: 52px;
        margin-bottom: 15px;
        letter-spacing: 0.8px;
        @media only screen and (min-width: $LG-DESKTOP) {
            font-size: 60px;
        }
        @media only screen and (max-width: $TABLETS) {
            font-size: 40px;
        }
        @media only screen and (max-width: $S-PHONE) {
            font-size: 25px;
        }
    }
    &--center--sm{
        @media only screen and (max-width: $S-TABLETS){
            text-align: center;
        }
    }
    &--white{
        color: $WHITE-COLOR
    }
    &--primary{
        color : $PRIMARY-COLOR;
    }
    &--gray{
        color : $GRAY-TEXT-COLOR;
        @media only screen and (min-width: $LG-DESKTOP) {
            font-size: 18px;
        }
    }
    &--dark{
        color: $DARK-COLOR;
    }

    &--section{
        &--title{
            font-size: 40px;
            font-weight: 600;
            margin-bottom: 1.5rem;
            @media only screen and (max-width: $TABLETS){
                font-size: 30px;
            }
        }
        &--text{
            line-height:27px;
            @media only screen and (max-width: $TABLETS){
                font-size: 15px;
            }
        }
    }
}