.footer{
    margin-top: 40px;
    padding-top: 5rem;
    background-color: $DARK-COLOR;
    min-height: 120vh;
    background-image: url(/assets/img/bg-header2.svg);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: contain;
}