.footer{
    margin-top: 40px;
    padding-top: 5rem;
    padding-bottom: 3rem;
    background-color: $DARK-COLOR;
    min-height: 100vh;
    background-image: url(assets/img/bg-header2.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @media only screen and (max-width: $TABLETS) {
        min-height: 0;
    }
    
}