@mixin card__text{
    font-size: 30px;
    margin-bottom: 12px;
    @media only screen and (max-width: $M-PHONE) {
        font-size: 28px;
    }
}

@mixin card__price {
    .card__price{
        &__sign{
            font-size: 15px;
            @media only screen and (max-width: $M-PHONE) {
                font-size: 14px;
            }
        }
        &__number{
            font-size: 30px;
            @media only screen and (max-width: $M-PHONE) {
                font-size: 24px;
            }
        }
    }
}

.card {
    width: 90%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 4rem;
    min-height: 450px;
    border: none;
    box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.2);
    @media only screen and (min-width: $LG-DESKTOP) {
        width: 70%;
        min-height: 520px;
    }
    @media only screen and (max-width: $TABLETS) {
        width: 100%;
    }
    @media only screen and (max-width: $M-PHONE) {
        width: 90%;
    }
    
    &__small{
        font-size: 11.5px;
        font-weight: 500;
    }
    &__divider{
        display: block;
        border: 1px solid $GRAY-TEXT-COLOR;
        width: 100%;
        margin-top: 3.5rem;
        margin-bottom: 3.5rem;
        opacity: 0.4;
    }
    &--dark{
        background-color:$ELEMENT-DARK-COLOR;
        color: $WHITE-COLOR;
        .card__text{
            @include card__text;
        }
        .card__price{
            @include card__price;
        }
    }
    &--white{
    background-color: $WHITE-COLOR;
    color: $ELEMENT-DARK-COLOR;
        .card__text{
            @include card__text;
        }
        .card__price{
            @include card__price;
        }
    }
}
.cardimg {
    background-color: $WHITE-COLOR;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.25rem;
    box-shadow: 0px 18px 50px -15px rgba(25, 42, 89, 0.2);
    border-radius: 30px;
    
    &__img {
        width: 95%;
        object-fit: contain;
        @media only screen and (min-width: $LG-DESKTOP) {
            width: 70%;
        }
        @media only screen and (max-width: $S-TABLETS) {
            width: 60%;
        }
        @media only screen and (max-width: $M-PHONE) {
            width: 95%;
        }
    }
}
