@import "components/variables";
@import "components/utilities/typography/text";
@import "components/utilities/margin";
@import "components/utilities/button";
@import "components/utilities/blocks/container";
@import "components/utilities/blocks/grid";
@import "components/utilities/blocks/card";
@import "components/utilities/img";
@import "components/header/header";
@import "components/footer/footer";


*{
    box-sizing: border-box;
    font-family: 'Roboto', 'sans-serif';
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
.main-wrapper{
    min-height: 100vh;
    max-width: 100vw;
    @media only screen and (max-width: $TABLETS) {
        overflow: hidden;
    }
}
.section, .px{
    @include PADDING-SECTIONS;
}
.section{
    min-height: 55vh;
    padding-bottom: 2rem;
    &__first{
        padding-top: 5rem;
    }
    &--default{
        min-height: 0;
        padding-bottom: 0;
    }
}
.mb-1{
    margin-bottom: 1rem !important;
}
.mt-1{
    margin-top: 1rem !important;
}